<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.boot.demo.dao.mapper.ActivityRelationMapper" >
  <resultMap id="BaseResultMap" type="spring.boot.demo.dao.dto.ActivityRelation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="form_no" property="formNo" jdbcType="VARCHAR" />
    <result column="form_sn" property="formSn" jdbcType="INTEGER" />
    <result column="parent_form_no" property="parentFormNo" jdbcType="VARCHAR" />
    <result column="parent_form_sn" property="parentFormSn" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, form_no, form_sn, parent_form_no, parent_form_sn
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activity_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="spring.boot.demo.dao.dto.ActivityRelation" >
    insert into activity_relation (id, form_no, form_sn, 
      parent_form_no, parent_form_sn)
    values (#{id,jdbcType=INTEGER}, #{formNo,jdbcType=VARCHAR}, #{formSn,jdbcType=INTEGER}, 
      #{parentFormNo,jdbcType=VARCHAR}, #{parentFormSn,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="spring.boot.demo.dao.dto.ActivityRelation" >
    insert into activity_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="formNo != null" >
        form_no,
      </if>
      <if test="formSn != null" >
        form_sn,
      </if>
      <if test="parentFormNo != null" >
        parent_form_no,
      </if>
      <if test="parentFormSn != null" >
        parent_form_sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="formNo != null" >
        #{formNo,jdbcType=VARCHAR},
      </if>
      <if test="formSn != null" >
        #{formSn,jdbcType=INTEGER},
      </if>
      <if test="parentFormNo != null" >
        #{parentFormNo,jdbcType=VARCHAR},
      </if>
      <if test="parentFormSn != null" >
        #{parentFormSn,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="spring.boot.demo.dao.dto.ActivityRelation" >
    update activity_relation
    <set >
      <if test="formNo != null" >
        form_no = #{formNo,jdbcType=VARCHAR},
      </if>
      <if test="formSn != null" >
        form_sn = #{formSn,jdbcType=INTEGER},
      </if>
      <if test="parentFormNo != null" >
        parent_form_no = #{parentFormNo,jdbcType=VARCHAR},
      </if>
      <if test="parentFormSn != null" >
        parent_form_sn = #{parentFormSn,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="spring.boot.demo.dao.dto.ActivityRelation" >
    update activity_relation
    set form_no = #{formNo,jdbcType=VARCHAR},
      form_sn = #{formSn,jdbcType=INTEGER},
      parent_form_no = #{parentFormNo,jdbcType=VARCHAR},
      parent_form_sn = #{parentFormSn,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findDataPage" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from activity_relation
  </select>
</mapper>